<h2><%= @list.name %></h2>

<h3><%= @list.description %></h3>

<p><%= @list.notes %></p>

<ul>
	
	<% @list.tasks.each do |task| %>
	
	<li> <%= task.description %> - <%= button_to "Complete!!!", complete_task_path(@list.id,task.id) %> </li>
	
	<% end %>
	
</ul>

<%= form_for [@list, @task ] do |form| %>
	
	<p> <%= form.text_field :description %> <%= form.submit %></p>
	
<% end %>

<hr />

<%= link_to "Back to all Lists", lists_url %>